# **PlantTraits2024 - FGVC11** 
Kaggle plant traits predicting competition.

## **Imports**

In [16]:
import os

import pandas as pd
import matplotlib.pyplot as plt

## **Paths**
Data could be downloaded from the competition page: https://www.kaggle.com/competitions/planttraits2024/data \
Extract into the project root folder.

In [17]:
ROOT = os.getcwd()
TRAIN_IMG_FOLDER = os.path.join(ROOT, 'train_images')
TEST_IMG_FOLDER = os.path.join(ROOT, 'test_images')
TRAIN_PATH = os.path.join(ROOT, 'train.csv')
TEST_PATH = os.path.join(ROOT, 'test.csv')

## **Load data**

In [18]:
train_df = pd.read_csv(TRAIN_PATH, index_col = 0)
test_df = pd.read_csv(TEST_PATH, index_col = 0)

## **Check up data**

In [19]:
train_df.head()

,WORLDCLIM_BIO1_annual_mean_temperature,WORLDCLIM_BIO12_annual_precipitation,WORLDCLIM_BIO13.BIO14_delta_precipitation_of_wettest_and_dryest_month,WORLDCLIM_BIO15_precipitation_seasonality,WORLDCLIM_BIO4_temperature_seasonality,WORLDCLIM_BIO7_temperature_annual_range,SOIL_bdod_0.5cm_mean_0.01_deg,SOIL_bdod_100.200cm_mean_0.01_deg,SOIL_bdod_15.30cm_mean_0.01_deg,SOIL_bdod_30.60cm_mean_0.01_deg,...,X18_mean,X26_mean,X50_mean,X3112_mean,X4_sd,X11_sd,X18_sd,X26_sd,X50_sd,X3112_sd
id,,,,,,,,,,,,,,,,,,,,,
192027691,12.235703,374.466675,62.524445,72.256844,773.592041,33.277779,125,149,136,145,...,0.117484,1.243779,1.849375,50.216034,0.008921,1.601473,0.025441,0.153608,0.279610,15.045054
195542235,17.270555,90.239998,10.351111,38.220940,859.193298,40.009777,124,144,138,143,...,0.389315,0.642940,1.353468,574.098472,0.003102,0.258078,0.000866,0.034630,0.010165,11.004477
196639184,14.254504,902.071411,49.642857,17.873655,387.977753,22.807142,107,133,119,126,...,8.552908,0.395241,2.343153,1130.096731,NaN,NaN,NaN,NaN,NaN,NaN
195728812,18.680834,1473.933350,163.100006,45.009758,381.053986,20.436666,120,131,125,131,...,1.083629,0.154200,1.155308,1042.686546,0.011692,2.818356,0.110673,0.011334,0.229224,141.857187
195251545,0.673204,530.088867,50.857777,38.230709,1323.526855,45.891998,91,146,120,138,...,0.657585,10.919966,2.246226,2386.467180,0.006157,1.128000,0.026996,0.553815,0.107092,87.146899

X*_mean values are targets to predict \
X*_sd could be used during training

In [20]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 55489 entries, 192027691 to 146608105
Columns: 175 entries, WORLDCLIM_BIO1_annual_mean_temperature to X3112_sd
dtypes: float64(54), int64(121)
memory usage: 74.5 MB

In [21]:
test_df.head()

,WORLDCLIM_BIO1_annual_mean_temperature,WORLDCLIM_BIO12_annual_precipitation,WORLDCLIM_BIO13.BIO14_delta_precipitation_of_wettest_and_dryest_month,WORLDCLIM_BIO15_precipitation_seasonality,WORLDCLIM_BIO4_temperature_seasonality,WORLDCLIM_BIO7_temperature_annual_range,SOIL_bdod_0.5cm_mean_0.01_deg,SOIL_bdod_100.200cm_mean_0.01_deg,SOIL_bdod_15.30cm_mean_0.01_deg,SOIL_bdod_30.60cm_mean_0.01_deg,...,VOD_X_1997_2018_multiyear_mean_m03,VOD_X_1997_2018_multiyear_mean_m04,VOD_X_1997_2018_multiyear_mean_m05,VOD_X_1997_2018_multiyear_mean_m06,VOD_X_1997_2018_multiyear_mean_m07,VOD_X_1997_2018_multiyear_mean_m08,VOD_X_1997_2018_multiyear_mean_m09,VOD_X_1997_2018_multiyear_mean_m10,VOD_X_1997_2018_multiyear_mean_m11,VOD_X_1997_2018_multiyear_mean_m12
id,,,,,,,,,,,,,,,,,,,,,
201238668,8.086756,2246.500000,127.321426,20.423418,353.381042,17.535713,80,109,90,96,...,0.385838,0.389460,0.387536,0.374910,0.363712,0.364623,0.379435,0.388294,0.398887,0.397853
202310319,10.844286,495.871429,28.023809,18.738306,786.554382,29.292856,130,155,142,146,...,0.279171,0.300813,0.332776,0.314386,0.291168,0.280947,0.277623,0.276503,0.271212,0.272672
202604412,8.105556,378.328583,39.928570,41.885647,722.071167,34.853809,133,134,139,134,...,0.392073,0.418509,0.437172,0.453239,0.445230,0.435441,0.432758,0.429839,0.417250,0.394216
201353439,7.077679,878.785706,70.428574,37.045235,669.389343,25.150000,103,140,116,129,...,0.384626,0.313667,0.352311,0.401131,0.513455,0.519174,0.474007,0.469071,0.408466,0.366724
195351745,4.790555,2299.366699,150.199997,24.136568,462.887695,22.516666,85,114,98,108,...,0.515619,0.506952,0.462181,0.397052,0.358262,0.369279,0.414420,0.469002,0.519534,0.521837

In [22]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6545 entries, 201238668 to 202625693
Columns: 163 entries, WORLDCLIM_BIO1_annual_mean_temperature to VOD_X_1997_2018_multiyear_mean_m12
dtypes: float64(42), int64(121)
memory usage: 8.2 MB